@media(min-width: 400px){
body{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
nav{
    border: 5px solid burlywood;
    background-color: burlywood;
}

.cell{
    padding: 1px;
    object-fit: fill;
    height: auto;
    width: 100%;
}
.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, auto);
    justify-items: stretch;
    align-items: stretch;
    gap: 5px;
}

.item-a{
    grid-row: 1/5;
    grid-column: 1/5;
}
.item-b{
    grid-row: 1/2;
    grid-column: 5/6;
}
.item-c{
    grid-row: 2/3;
    grid-column: 5/6;
}
.item-d{
    grid-area: D;
    grid-row: 3/4;
    grid-column: 5/6;
}
.item-e{
    grid-row: 5/9;
    grid-column: 1/3;
}
.item-f{
    grid-row: 5/9;
    grid-column: 3/4;
}
.item-g{
    grid-row: 5/9;
    grid-column: 4/5;
}
.item-h{
    grid-row: 5/9;
    grid-column: 5/6;
}
.item-i{
    grid-row: 9/14;
    grid-column: 1/2;
}
.item-j{
    grid-area: J;
    grid-row: 9/11;
    grid-column: 2/4;
}
.item-k{
    grid-row: 9/11;
    grid-column: 4/5;
}
.item-l{
    grid-row: 9/11;
    grid-column: 5/6;
}
.item-m{
    grid-row: 14/15;
    grid-column: 1/2;
}
.item-n{
    grid-row: 11/15;
    grid-column: 2/3;
}
.item-o{
    grid-row: 11/13;
    grid-column: 3/5;
}
.item-p{
    grid-row: 11/13;
    grid-column: 5/6;
}
.item-q{
    grid-row: 13/15;
    grid-column: 3/4;
}
.item-r{
    grid-row: 13/15;
    grid-column: 4/5;
}
.item-s{
    grid-row: 13/15;
    grid-column: 5/6;
}
.item-t{
    grid-row: 15/17;
    grid-column: 1/2;
}
.item-u{
    grid-row: 15/17;
    grid-column: 2/4;
}
.item-v{
    text-align: left;
    grid-row: 15/17;
    grid-column:4/6;
}
a{
    text-decoration: none;
    word-spacing: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}
a:visited{
    text-decoration: none;
}
}